{
    "cniVersion":"0.2.0",
    "name": "netdev-plugin",
    "type": "netdev-plugin",
    "shellDir": "{{ ca_script_dir }}/netdevMGR",
    "kubeconfig": "/etc/kubernetes/cluster_agent.conf",
    "noCheckVolumepath": false
}
